In [4]:
# 1&2)what is dictionary in python?explain with example
 Dictionaries are another example of a data structure.
 A dictionary is used to map or associate things you want to store the keys you need to get them.
 A dictionary in Python is just like a dictionary in the real world. 
 Python Dictionary are defined into two elements Keys and Values.
 Values can be a list or list within a list, numbers, etc.
#example:
Dict = {'Name': 'Geeks', 1: [1, 2, 3, 4]} 
print("Dictionary with the use of Mixed Keys: ") 
print(Dict)

Dictionary with the use of Mixed Keys:
{'Name': 'Geeks', 1: [1, 2, 3, 4]}

In [5]:
# 3)python program to sum all the items in a list
total = 0
list1 = [11, 5, 17, 18, 23]   
for ele in range(0, len(list1)): 
    total = total + list1[ele] 
print("Sum of all elements in given list: ", total)

Sum of all elements in given list:  74

In [6]:
# 4)python program to create a list of empty dictionaries
n = 5
l = [{} for _ in range(n)]
print(l)

[{}, {}, {}, {}, {}]

In [7]:
# 5)Python program to access dictionary keys element by index
num = {'physics': 80, 'math': 90, 'chemistry': 86}
print(list(num)[1])

math

In [8]:
# 6)python program to iterate over dictionaries using for loops
d1={'name': 'Ravi', 'age': 23, 'marks': 56}
for t in d1.items():
  print(t)

('name', 'Ravi')
('age', 23)
('marks', 56)

In [9]:
# 7)python program to sum all the items in a dictionary
my_dict = {'data1':100,'data2':-54,'data3':247}
print(sum(my_dict.values()))

293

In [10]:
# 8&9)Python program to concatenate dictionaries to create a new one.
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [11]:
# 10)python program to create a tuple
tuple1=(1,2,3)
print(tuple1)

(1, 2, 3)

In [12]:
# 11)python program to create a tuple with different data types
tuple=("tuple", False, 3.2, 1)
print(tuple)

('tuple', False, 3.2, 1)

In [13]:
# 12)Python program to convert a tuple to a string.
tuple=('e', 'x', 'e', 'r', 'c', 'i', 's', 'e', 's')
str=''.join(tuple)
print(str)

exercises

In [14]:
# 13)python program to slice a tuple
tuplex = (2, 4, 3, 5, 4, 6, 7, 8, 6, 1)
slice = tuplex[3:5]
print(slice)
slice = tuplex[:6]
print(slice)
slice = tuplex[5:]
print(slice)

(5, 4)
(2, 4, 3, 5, 4, 6)
(6, 7, 8, 6, 1)

In [15]:
# 14)python program to find the length of a tuple
tuple1=(1,2,4,6,7)
print(len(tuple1))

5

In [16]:
# 15)python program to convert a tuple to a dictionary
tuplex = ((2, "w"),(3, "r"))
print(dict((y, x) for x, y in tuplex))

{'w': 2, 'r': 3}

In [17]:
# 16)python program to reverse a tuple
my_tuple = (1,2,3.78,9.56,"StudyTonight")
def reverse_enum(my_tuple):
   for index in reversed(range(len(my_tuple))):
      yield my_tuple[index]
for item in reverse_enum(my_tuple):
   print(item)

StudyTonight
9.56
3.78
2
1

In [18]:
# 17)python program to convert a list of tuples into a dictionary
l = [("x", 1), ("x", 2), ("x", 3), ("y", 1), ("y", 2), ("z", 1)]
d = {}
for a, b in l:
    d.setdefault(a, []).append(b)
print (d)

{'x': [1, 2, 3], 'y': [1, 2], 'z': [1]}

In [23]:
# 18)python program to convert a list to a tuple
listx = [5,10,7,4,15,3]
print(listx)
tuplex = tuple(listx)
print(tuplex)

[5, 10, 7, 4, 15, 3]
[5, 10, 7, 4, 15, 3]